/* SudokuBoard.module.css */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centers content */
  height: 100vh;
  background-color: #f9f9f9;
  position: relative; /* Prevents unnecessary pushing */
  columns: #333;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #333;
}

.sudokuGrid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  border: 4px solid rgb(25, 80, 61);
  background: white;
  margin-bottom: 20px; /* Adds space before buttons */
  color: #333;
}

.cell {
  width: 50px;
  height: 50px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  border: 1px solid rgb(25, 80, 61);
  outline: none;
  background-color: white;
  color: #333;
}

.cell:focus {
  background-color: #e0e0e0;
}

.borderRight {
  border-right: 3px solid rgb(25, 80, 61);
}

.borderBottom {
  border-bottom: 3px solid rgb(25, 80, 61);
}
